.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    
  }

  .post-urgent {
    font-size: 60%;
    padding:1px;
    color: #881111;
    border:1px solid #881111;
    border-radius:10%;
  }

  .post-notUrgent {
    font-size: 60%;
    padding:1px;
    border:1px solid #118811;
    border-radius:10%;
    color: #118811;
  }

  .post-details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .post-details-item {
    flex: 1;
    margin-right: 10px;
  }

  .post-details-label {
    font-weight: bold;
    color: #555;
  }

  .post-details-value {
    color: #333;
    white-space: nowrap;
  }

  .post-skills {
    margin-top: 10px;
  }

  .post-skills-label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }

  .post-skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .post-desc {
    padding: 0;
    margin: 0;
    background-color: #f3ebeb;
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
  }

  .post-skill {
    background-color: #400909;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .apply{
    margin-top: 20px;
    text-align: left;
  }

  #apply-btn {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  #apply-btn:hover {
    background-color: #45a044;
  }

  .pay{
    margin-top: 20px;
    text-align: left;
  }

  #pay-btn {
    padding: 10px 15px;
    background-color: #fd3445;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  #pay-btn:hover {
    background-color: #fc2020;
  }
